element.style {
}
html [Attributes Style] {
  -webkit-locale: "ja";
}
html {
  display: block;
}
h1 {
  color: orange;
}
user agent stylesheet h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
